<!DOCTYPE html>
<html>
    <head>
        <title>Event Added to {{group.name}}</title>
    </head>
    <body>
        <h1>New Event Added</h1>
        <p><strong>Name:</strong> {{event.name}}</p>
        <p><strong>ID:</strong> {{event.id}}</p>
        <p><strong>Date:</strong> {{event.date}}</p>
        <p><strong>Venue:</strong> {{event.venue.name}}, {{event.venue.city}}, {{event.venue.country}}</p>
    </body>
</html>