<!DOCTYPE html>
<html>
    <head>
        <title>Add event to group</title>
    </head>
    <body>
        <h1>Add event to group</h1>
        <form action="/seca/events/{{event.id}}/add" method="post">
            Select group: 
            <select name="groupId" id="group">
                {{#each groups}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Add event to group">
        </form>

        <h1>{{event.name}}</h1>
        <img src="{{event.image}}" style="width: 25vw;">
        <p><strong>ID:</strong> {{event.id}}</p>
        <p><strong>Date:</strong> {{event.date}}</p>
        <p><strong>Venue:</strong> {{event.venue.name}} - {{event.venue.city}}, {{event.venue.country}}</p>
        <p><strong>Sales Start:</strong> {{event.salesStart}}</p>
        <p><strong>Sales End:</strong> {{event.salesEnd}}</p>
        <p><strong>Segment:</strong> {{event.segment}}</p>
        <p><strong>Genre:</strong> {{event.genre}}</p>
        <p><strong>SubGenre:</strong> {{event.subgenre}}</p>
    </body>
</html>