<!DOCTYPE html>
<html>
    <head>
        <title>Group Details</title>
    </head>
    <body>
        <h1>Group Details</h1>
        <p><button onclick="location.href='/seca/groups'">Return to group list</button>
        <button onclick="location.href='/seca/home.html'">Return to homepage</button></p>
        <button onclick="location.href='/seca/groups/{{group.id}}/edit'">Edit group</button> 
        <button onclick="location.href='/seca/groups/{{group.id}}'">Delete group</button></p>

        <p><strong>Name:</strong> {{group.name}}</p>
        <p><strong>Description:</strong> {{group.description}}</p>
        <p><strong>Events:</strong></p>
            {{#each group.events}}
            <li>
                <h2>{{this.name}}</h2>
                <p><strong>ID:</strong> {{this.id}}</p>
                <p><strong>Date:</strong> {{this.date}}</p>
                <p><strong>Venue:</strong> {{this.venue.name}} - {{this.venue.city}}, {{this.venue.country}}</p>
            </li>
            {{/each}}
    </body>
</html>