<!DOCTYPE html>
<html>
    <head>
        <title>Group Details</title>
    </head>
    <body>
        <h1>Group Details</h1>
        <p><button onclick="location.href='/seca/groups'">Group list</button>
        <button onclick="location.href='/seca/home.html'">Homepage</button></p>
        <p><button onclick="location.href='/seca/groups/{{group.id}}/edit'">Edit group</button></p> 
        <form method="POST" action="/seca/groups/{{group.id}}/delete">
            <input type="submit" value="Delete group">
        </form></p>

        <p><strong>Name:</strong> {{group.name}}</p>
        <p><strong>Description:</strong> {{group.description}}</p> 
        <p><strong>Events:</strong></p>
            {{#each group.events}}
            <li>
                <h2><a href="/seca/events/{{id}}">{{name}}</a></h2>
                <p><strong>ID:</strong> {{id}}</p>
                <p><strong>Date:</strong> {{date}}</p>
                <p><strong>Venue:</strong> {{venue.name}} - {{venue.city}}, {{venue.country}}</p>
                <form method="POST" action="/seca/groups/{{../group.id}}/events/{{id}}/delete">
                    <input type="submit" value="Delete event">
                </form>
            </li>
            {{/each}}
    </body>
</html>