<!DOCTYPE html>
<html>
    <head>
        <title>Group List</title>
    </head>
    <body>
        <h1>Group List</h1>
        <button onclick="location.href='/seca/home.html'">Return to Homepage</button></p>
        {{#each groups}}
        <section>
            <h2>{{name}}</h2>
            <p><strong class="title-label">Description:</strong> {{description}}</p>
            <p><strong class="title-label">Events:</strong></p>
            <ol>
                {{#each events}}
                <li>
                    <h3>{{name}}</h3>
                    <p><strong>ID:</strong> {{id}}</p>
                    <p><strong>Date:</strong> {{date}}</p>
                    <p><strong>Venue:</strong> {{venue.name}} - {{venue.city}}, {{venue.country}}</p>
                </li>
                {{/each}}
            </ol>
        </section>
        {{/each}}
    </body>
</html>