<!DOCTYPE html>
<html>
    <head>
        <title>Most Popular Events</title>
    </head>
    <body>
        <h1>Most Popular Events</h1>
        <p>
            <button onclick="location.href='/seca/eventsByNameForm.html'">Return to Get Popular Events</button>
            <button onclick="location.href='/seca/home.html'">Return to Homepage</button>
        </p>
        <ul>
        {{#each events}}
            <li>
                <h2>{{name}}</h2>
                <p><strong>ID:</strong> {{id}}</p>
                <p><strong>Date:</strong> {{date}}</p>
                <p><strong>Venue:</strong> {{venue.name}} - {{venue.city}}, {{venue.country}}</p>
            </li>
        {{/each}}
        </ul>
        <p>
            <button onclick="location.href='/seca/eventsByNameForm.html'">Return to Get Popular Events</button>
            <button onclick="location.href='/seca/home.html'">Return to Homepage</button>
        </p>
    </body>
</html>